@(title: String, moreHead:Html=Html(""))(content: Html)(implicit menu:Menu)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
@*
    <script type="text/javascript" src="@routes.MessageController.javascriptRoutes"></script>
*@
    @moreHead
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Extropy</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @for(item <- menu.items) {
                  <li class="@if(menu.active == item.id) { active }"><a href="@item.route">@item.label</a></li>
                }
            </ul>
          </div>
        </div>
    </div>

    <div class="container">
        @content
    </div>

</body>
</html>
